ul, li {
  list-style: none; }

.header .short-cut {
  background: url("../images/bg.png") repeat-x;
  width: 100%;
  margin: 0 auto;
  height: 29px;
  line-height: 30px; }
  .header .short-cut .lft {
    float: left; }
    .header .short-cut .lft .icobg {
      background-image: url("../images/icon.png");
      background-repeat: no-repeat;
      line-height: 16px;
      height: 16px;
      margin: 8px 0 0;
      float: left;
      padding: 0 0 0 20px;
      color: #666; }
    .header .short-cut .lft li {
      float: left;
      padding: 0 16px 0 0; }
    .header .short-cut .lft li.phone .icobg {
      background-position: 0 0; }
    .header .short-cut .lft li.other .weibo {
      background-position: 0 -51px; }
    .header .short-cut .lft li.cut {
      width: 2px;
      height: 29px;
      overflow: hidden;
      text-indent: -999px;
      font-size: 0;
      line-height: 0;
      background-position: -17px -142px;
      margin: 0 auto; }
.header .contain {
  width: 100%;
  border-bottom: 1px solid #efefef; }
  .header .contain .con-header {
    max-width: 1190px;
    margin: 0 auto; }
    .header .contain .con-header .logo {
      display: inline-block;
      width: 15rem;
      height: 5rem;
      background: url("../images/logo.jpg") no-repeat;
      background-size: cover; }
    .header .contain .con-header .nav-right {
      float: right; }
      .header .contain .con-header .nav-right li {
        padding: 0.5rem;
        line-height: 5rem;
        float: left; }
      .header .contain .con-header .nav-right form {
        padding: 0.5rem; }
.header .nav-tag {
  width: 100%;
  position: relative; }
  .header .nav-tag ul.nav-bar {
    max-width: 1190px;
    margin: 0 auto;
    display: flex; }
    .header .nav-tag ul.nav-bar li.nav-tabs {
      border-bottom: none;
      width: 20%;
      text-align: center;
      position: inherit; }
      .header .nav-tag ul.nav-bar li.nav-tabs .first-tab.active {
        background: #2aabd2; }
      .header .nav-tag ul.nav-bar li.nav-tabs .sec-tab {
        background: #efefef;
        clear: both;
        overflow: hidden;
        position: absolute;
        z-index: 9999;
        left: 0;
        right: 0;
        display: none; }
        .header .nav-tag ul.nav-bar li.nav-tabs .sec-tab ul {
          max-width: 1190px;
          margin: 0 auto;
          padding: 0;
          display: flex; }
          .header .nav-tag ul.nav-bar li.nav-tabs .sec-tab ul li {
            padding: 2rem;
            margin: 0; }
      .header .nav-tag ul.nav-bar li.nav-tabs .sec-tab.active {
        display: block; }

.footer {
  background: #4e4e4e; }
  .footer a {
    color: #cccccc; }
  .footer section {
    background: #4e4e4e;
    padding: 15px 0;
    max-width: 1190px;
    margin: 0 auto; }
    .footer section dl {
      float: left;
      width: 20%;
      text-align: center;
      color: #FFFFFF; }
      .footer section dl a {
        color: #cccccc; }

.carousel-inner img {
  width: 100%; }

.card {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px; }
  .card > h3, .card > p {
    text-align: center; }
  .card > h3 {
    margin-top: 40px; }
  .card > p {
    margin-bottom: 15px; }
  .card ul.daily-rec {
    display: flex;
    margin: 0 auto;
    padding: 5px; }
    .card ul.daily-rec li {
      border-right: 1px solid #cccccc;
      clear: both;
      overflow: hidden; }
      .card ul.daily-rec li a {
        display: block; }
        .card ul.daily-rec li a img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
          cursor: pointer;
          transition: all 0.6s; }
        .card ul.daily-rec li a img:hover {
          transform: scale(1.4); }
      .card ul.daily-rec li .img-show {
        width: 100%;
        min-height: 160px; }
      .card ul.daily-rec li .desc {
        color: #2aabd2; }
      .card ul.daily-rec li .desc:hover {
        color: #c9302c; }
      .card ul.daily-rec li span.price {
        text-align: left;
        display: block;
        font-size: 18px;
        color: #c9302c; }
        .card ul.daily-rec li span.price i {
          float: right;
          font-size: 12px;
          color: #262626;
          text-decoration: line-through; }
    .card ul.daily-rec li:last-child {
      border-right: none; }
  .card .week-box {
    height: 150px;
    overflow: hidden;
    background: url("../images/colorBorder.png") no-repeat left bottom; }
    .card .week-box ul.week-rec {
      display: flex;
      margin: 0 auto;
      padding: 5px; }
      .card .week-box ul.week-rec li {
        border-right: 1px solid #cccccc;
        clear: both;
        overflow: hidden; }
        .card .week-box ul.week-rec li a {
          display: block; }
          .card .week-box ul.week-rec li a img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            cursor: pointer; }
        .card .week-box ul.week-rec li .img-show {
          width: 100%;
          min-height: 160px; }
        .card .week-box ul.week-rec li .desc {
          color: #2aabd2; }
        .card .week-box ul.week-rec li .desc:hover {
          color: #c9302c; }
        .card .week-box ul.week-rec li span.price {
          text-align: left;
          display: block;
          font-size: 18px;
          color: #c9302c; }
          .card .week-box ul.week-rec li span.price i {
            float: right;
            font-size: 12px;
            color: #262626;
            text-decoration: line-through; }
      .card .week-box ul.week-rec li:last-child {
        border-right: none; }
      .card .week-box ul.week-rec li:hover {
        box-shadow: 0px 0px 20px #AFAFAF;
        position: relative;
        z-index: 3; }

/*# sourceMappingURL=common.css.map */
